%script{src: '/javascripts/barcom.js'}
%h2 Barcom
%form
  %p
    %label Commodity
    %select#commodity
  %p
    %label Price
    %input#price{type: :number, name: :price}
  %p
    %label Amount
    %input#amount{type: :number, name: :amount}
  %p
    %label Spread over 
    %input#spread{type: :number, name: :spread}
    minutes
  %p
    %label &nbsp;
    %button#submit Add supply
