%script{src: '/javascripts/barman.js'}
%h2 Barman interface
%form
  %table#commodities
    %thead
      %tr
        %th Commodity
        %th Bar price
        %th Focus
        %th Amount
    %tbody
    %tfoot
      %tr
        %td{colspan: 3} &nbsp;
        %td
          Total price: &euro;
          %span.total 
          %button{type: :submit} Sell&nbsp;(F9)

%h3 Instructies
%p
  Alleen directe verkopen worden hier geregistreerd.
  %strong Als mensen munten inleveren, moet je dat niet invoeren!
  Alle formuliervelden zijn bereikbaar via F1, F2, F3, en F4. Roep de prijs die onderaan de tabel staat naar de klant. Als die akkoord is, reken je af en geef je de bestelling uit. De order bevestig je daarna met F9. Het formulier wordt hierdoor automatisch geleegd.
  
%script#commodity{type: 'text/x-handlebars-template'}
  %tr{'data-id' => '{{id}}'}
    %td {{name}}
    %td{'data-value' => '{{bar_price}}', class: 'price'} {{money bar_price}}
    %td.index
    %td
      %input{type: :number, class: :amount, min: 1, max: 10, name: 'order', autocomplete: 'off'}
