%script{src: '/javascripts/barman.js'}
%h2 Barman interface
%form
  %table#commodities
    %thead
      %tr
        %th Commodity
        %th Bar price
        %th Focus
        %th Amount
    %tbody
    %tfoot
      %tr
        %td{colspan: 3} &nbsp;
        %td
          Total price: &euro;
          %span.total 
          %button{type: :submit} Sell&nbsp;(F9)
  
%script#commodity{type: 'text/x-handlebars-template'}
  %tr{'data-id' => '{{id}}'}
    %td {{name}}
    %td{'data-value' => '{{bar_price}}', class: 'price'} {{money bar_price}}
    %td.index
    %td
      %input{type: :number, class: :amount, min: 1, max: 10, name: 'order', autocomplete: 'off'}