%script{src: '/javascripts/kill.js'}
.alert.alert-error
  %p
    Closing the market will instantly finish any outstanding transactions and remove all available supply.
    %strong Are you sure you want to kill the market?
  %p
    %button.destroy Yes, kill the market
