%script{src: '/javascripts/sell_booth.js'}
%h2 Sell Booth
%form
  %p
    %label Commodity
    %select#commodity{:name => "commodity"}
  %p
    %label Amount
    %input.number{type: 'text', name: 'amount'}
  %p
    %label Price per coin
    %input.number{type: 'text', name: 'price', disabled: true}
  %p
    %label Price total
    %input.number{type: 'text', name: 'total', disabled: true}
  %p
    %button{type: 'submit'} Sell

%h3 Instructies
%p Mensen komen naar jouw booth toe om munten terug te verkopen aan de bar. Vul in welk type munten ze willen verkopen, en hoeveel. De website antwoordt welke prijs er wordt geboden. Vraag of de verkoper hier mee akkoord gaat. Als hij/zij het goed vindt, neem de munten in en geef de verkoper het aangegeven bedrag terug. Klik daarna op Sell om de transactie te registreren.
