!!! 5
%html
  %head
    %title Stock Exchange
    %link{"rel" => "stylesheet", "href" => "/stylesheets/application.css", "type" => "text/css"}
    %script{src: '/javascripts/jquery.js'}
    %script{src: '/javascripts/application.js'}
  %body
    %header
      %h1 Stock Exchange
    .content
      = yield