!!! 5
%html
  %head
    %title Stock Exchange
    %link{"rel" => "stylesheet", "href" => "/stylesheets/application.css", "type" => "text/css"}
    %script{src: '/javascripts/jquery.js'}
    %script{src: '/javascripts/handlebars.js'}
    %script{src: '/javascripts/application.js'}
  %body
    %header
      %h1 Stock Exchange
    %section
      .alerts
      = yield
    %footer 
      Built with &hearts; by Max and Jakob &mdash; &copy; 42com 2013
      .secret The cake is a lie