/* Page structure */
html {
  font-family: 'Helvetica Neue Condensed','Helvetica','Arial',sans-serif;
  font-size: x-large;
}
body {
  margin: 0;
}

header {
  color: white;
  background-color: black;
  padding: 1em;
}

header h1 {
  margin: 0;
}

.content {
  margin: 1em;
}

/* Form */
input, select, button {
  font-size: x-large;
}

.number {
  width: 60px;
}