/* Page structure */
html {
  font-family: 'Helvetica Neue Condensed','Helvetica','Arial',sans-serif;
  font-size: x-large;
}
body {
  margin: 0;
}

header {
  color: white;
  background-color: black;
  padding: 1em;
}

header h1 {
  margin: 0;
}

.content {
  margin: 1em;
}

/* Form */
label {
  margin-right: 1em;
}
input, select, button {
  font-size: x-large;
}

.number {
  width: 60px;
}
.phone {
  width: 8em;
}

/* Table */
table {
  font-size: large;
  border-spacing: 0;
}

thead {
  color: white;
  background-color: black;
}
td, th {
  text-align: left;
  padding: 0.2em 1em 0.2em 0;
}

tr:nth-child(2n) {
  background-color: #bbb;
}

table .number {
  text-align: right;
}

/* Footer */
footer {
  font-size: medium;
  color: white;
  padding: 1em;
  background-color: black;
}