/* Page structure */
html {
  font-family: 'Helvetica Neue Condensed','Helvetica','Arial',sans-serif;
  font-size: x-large;
}
body {
  margin: 0;
  background-color: black;
}

header {
  color: white;
  background-color: black;
  padding: 1em;
}

header h1 {
  margin: 0;
}

section {
  padding: 1em;
  background-color: white;
}

section h2 {
  margin-top: 0;
}

/* Form */
label {
  margin-right: 1em;
  display: inline-block;
  min-width: 150px;
}
input, select, button {
  font-size: x-large;
}

.number, input[type="number"] {
  width: 80px;
}
.phone {
  width: 8em;
}

[type="submit"] {
  padding: 0.2em;
  width: 7em;
  font-weight: bold;
  font-size: 150%;
}

/* Table */
table {
  font-size: large;
  border-spacing: 0;
}

thead, tfoot {
  color: white;
  background-color: black;
}
td, th {
  text-align: left;
  padding: 0.2em 1em 0.2em 0;
}

tr:nth-child(2n) {
  background-color: #bbb;
}

table .number {
  text-align: right;
}

/* Footer */
footer {
  font-size: medium;
  color: white;
  padding: 1em;
  background-color: black;
}

footer .secret {
  color: #111;
}

/* Alerts */
.alert {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
}
.alert-error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}

/* Bar interface */
#commodities {
    height: 250px;
}

#commodities .commodity {
    float: left;
    margin-right: 40px;
}

#commodities .commodity .row {
    float: none;
    clear: right;
    display: block;
    height: 50px;
}

#commodities .commodity label.row {
    padding-top: 5px;
    margin-bottom: -5px;
}

#commodities .commodity .row h3 {
    margin: 0;
}

/* Graphs */
.prices {
  font-size: 2em;
}
.prices .price {
  display: inline-block;
  margin-right: 1em;
}
.graphs {
  width: 800px;
  height: 400px;
}